<html lang='pt-br'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Register</title>
    <link rel='shortcut icon' type='image/x-icon' href='../css/favicon.ico' />
    <link rel='stylesheet' href='../css/client/form.css' />
  </head>
  <body>
    <div class='container'>
      <div class='left'>
        <div class='header'>
          <h2 class='animation a1'>React para humanos</h2>
          <h4 class='animation a2'>Forneça os campos para receber seu token</h4>
        </div>
        <form action='/client' method='post' class='form'>
          <input
            type='email'
            name='email'
            class='form-field animation a3'
            placeholder='Endereço de email'
          />
          <input
            type='text'
            name='name'
            class='form-field animation a4'
            placeholder='Nome completo'
          />
          <input
            type='text'
            name='github'
            class='form-field animation a5'
            placeholder='Username do GitHub'
          />
          <button type='submit' class='animation a6'>Registrar</button>
        </form>
      </div>
      <div class='modal animation a6' id='modal'>
        <span class='modal-left-icon'>&#9888;</span>
        <h2>Ao se registrar como aluno de nosso treinamento, você obterá um
          token único, que deverá ser usado em todas as requisições enviadas
          pelo axios, afim do backend reconhecer que você é um aluno do nosso
          treinamento e permitir organizar os posts de sua rede social de forma
          separada dos demais alunos (opcionalmente).
        </h2>
        <span class='modal-close-icon' onclick='closeModal()'>&#10006;</span>
      </div>
      <div class='right'>
      </div>
    </div>
    <script src='../js/client/closeModal.js'></script>
  </body>
</html>