DB_HOST=localhost
DB_PORT=5432
DB_USER=psql
DB_PASS=1234
DB_NAME=EXAMPLE-DB
DATABASE_URL=

SHEET_API_EMAIL=mygservicemail@mystic-braid-000000.iam.gserviceaccount.com
SHEET_API_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nYOUR ULTRA PRIVATE KEY\n-----END PRIVATE KEY-----\n
SHEET_ID=YOUR-SHEET-ID

JWT_SECRETKEY=SECRETKEY
JWT_JWT_EXPIRESIN=1d

PORT=3000

CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_FOLDER_NAME=your-folder-name
CLOUDINARY_KEY=312832183812391283
CLOUDINARY_SECRET=dsadi320321093y7
