<html lang='pt-br'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='../css/index.css' />
    <title>React para humanos</title>
  </head>
  <body>
    <div class='container'>
      <div class='doc-holder'>
        <h1 class='title'>Documentação da api</h1>
        <a class='img-holder' target='_blank' href={{docUrl}}>

          <img
            src='https://cdn.iconscout.com/icon/free/png-256/postman-3628404-3032239.png'
            class='imgs'
          />
        </a>
      </div>
      <div class='repo-holder'>
        <h1 class='title white'>Repositório da api</h1>
        <a href={{apiRepo}} target='_blank' class='img-holder'>
          <img
            src='https://cdn-icons-png.flaticon.com/512/25/25231.png'
            class='imgs'
          />
        </a>
      </div>
    </div>
  </body>
</html>